.clubfinder {
    background-color: white;
    padding: 3em 1.5em;
}

.search_ctn {
    margin: -5em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1em 1em 1.5em .5em rgba(0, 0, 0, 0.253);
    padding: 1em; 
    flex-direction: column;
    background: white;
        > h1 {
            color: black;
            text-align: center;
        }

    > .searchbar{
        position: relative;
            color: black;
            width: 100%;

             > input {
            background: transparent;
            border: 2px solid var(--clr-accent-secondary);
            padding: 1em;
            width: 100%;
            margin: 2em 0;
            color: inherit;

        }
        >input:focus,
        input:active {
            border: 2px solid var(--clr-accent-secondary);
            outline: none;
        }

        .search-icon {
            position: absolute;
            right: .5em;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}

.club-suggestions {
    width: 100%;

    > ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        gap: .25em;

        > .location_btn {
            text-align: left;
            width: 100%;
            padding: .5em .25em;
            text-align: center;
            border: var(--clr-accent-secondary) 1px solid
        }
    }

}