.memberships_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    min-height: 80svh;
    padding: 0 1.5em;
}

.membership-card_ctn { 
    color: var(--clr-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: .25em .25em 1.25em .25em rgba(0, 0, 0, 0.247);
    height: 100%;
    width: 100%;
    border-radius: var(--b-radius-card);

    > .card_header {
        font-weight: bold;
        text-align: center;
        font-size: 1.25rem;
    }

    > .card_footer {
        padding: 1.5em;
        height: 100%;
        width: 100%;

        > .card_btn {
            color: black
        }
    }
}
.membership-card_ctn > .card_body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em 0 ;
    gap: 1em;

        > .card_image {
            object-fit:cover;
            width: 100%;
            aspect-ratio: 2/1;
            object-position: 0 -1em;
        }
    }

.membership-card_ctn > .card_body > .benefits { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
    max-width: 80%;
    height: 100%;
    font-size: medium;
    gap: 1em;

    >li {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        gap: .5em;
        > p {
            width: 100%;
            text-align: left;
        }
    }

}
.membership-card_ctn > .card_header { 
    width: 100%;
    text-align: left;
    display: flex;
    background: var(--clr-gradient-bg);

    > .left, 
    .right {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: .5em 2em;

        > * {
            line-height: 1.1em;
            width: 100%;
        }

        > h4 {
            font-weight: 500;
        }

        > h1 {
            font-size: 2em;
            margin: 0;
        > small {
            font-weight: 400;
            text-align: left;
            font-size: .4em;
            color: var(--clr-accent-secondary)
        }
        }

    }
}


.membership-card_ctn > .card_header > .right > img {
    height: 6em;
    width: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    bottom: 0;
}


@media (min-width: 900px) {
    .memberships_ctn {
        flex-direction: row;
        height: 55svh;
        width: 75svw;
        gap: 2em;
    }

    .membership-card_ctn {
        height: 100%;

    }
}