@media  (min-width: 600px) {
   .sheet_ctn {
      height: 100svh; 
      position: absolute;
      top: 0;
      left: 0em;
      background-color: white;
      width: 40%;
      min-width: 325px;
      overflow-y: scroll;
      max-width: 50svw;
      scrollbar-width: thin;
      scrollbar-color:  rgba(128, 128, 128, 0.185) transparent;
   }   
}