* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 248, 242);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Colors */
  --clr-cta: rgb(78, 7, 192);
  --clr-accent-primary: rgb(37, 230, 204);
  --clr-accent-secondary: rgb(0, 117, 102);
  --clr-text-dark: rgb(19, 19, 19);
  --clr-text-light: white;
  --clr-gradient-accent: linear-gradient(330deg, rgb(0, 117, 101) 0%, rgb(37, 230, 204) 44%);
  --clr-gradient-bg: linear-gradient(330deg, rgba(0, 117, 101, 0.774) 0%, rgba(37, 230, 204, 0.37) 44%);

  /* Borders */
  --b-radius-card: 6px;
}

a {
  font-weight: 500;
  color: var(--clr-accent-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-accent-primary);
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 100svw;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-accent-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button:hover {
  border-color: var(--clr-accent-secondary); 
  color: var(--clr-text-light)
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

.btn_primary {
  background-color: var(--clr-cta);
  color: var(--clr-text-light)
}

.btn_secondary {
  background-color: transparent; 
  border: 1px solid var(--clr-accent-secondary);
  color: var(--clr-accent-secondary)
}

.highlight {
  color: var(--clr-accent-secondary)
}

.text-dark {
  color: var(--clr-text-dark)
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 900px) {
  body {
    padding: 0 5em;
  }
}

